@{
    ViewData["title"] = "Urban Design";
}
<div class="content-wrapper">
        <!-- Lines -->
        <section class="content-lines-wrapper">
            <div class="content-lines-inner">
                <div class="content-lines"></div>
            </div>
        </section>
        <!-- Header Banner -->
        <section class="banner-header banner-img valign bg-img bg-fixed" data-overlay-darkgray="5" data-background="/img/banner.jpg">
            <!-- Left Panel -->
            <div class="left-panel"></div>
        </section>
        <!-- Services Page -->
        <section class="section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title2">Urban Design</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p>Urban design non lorem ac erat suscipit bibendum. Nulla facilisi sedeuter nunc volutpat molli sapien veconseyer turpeutionyer masin libero sempe. Fusceler mollis augue sit amet hendrerit vestibulum. Duisteyerionyer venenatis lacus.</p>
                    <p>Villa gravida eros ut turpis interdum ornare. Interdum et malesu they adamale fames ac anteipsun pimsinefaucibus urabitur arcu site feugiat in volutpat.</p>
                    <div class="row mb-30">
                        <div class="col-md-6 gallery-item">
                            <a href="/img/services/4.jpg" title="Urban Design" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="/img/services/4.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 gallery-item">
                            <a href="/img/services/5.jpg" title="Urban Design" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="/img/services/5.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                </div>
                            </a>
                        </div> 
                        <div class="col-md-12 gallery-item">
                            <a href="/img/services/6.jpg" title="Urban Design" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="/img/services/6.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                </div>
                            </a>
                        </div>    
            </div>
                </div>
                <div class="col-md-4 sidebar-side">
                        <aside class="sidebar blog-sidebar">
                            <div class="sidebar-widget services">
                                <div class="widget-inner">
                                    <div class="sidebar-title">
                                        <h4>All Services</h4>
                                    </div>
                                    <ul>
                                        <li><a asp-area="" asp-controller="Home" asp-action="architecture">Achitecture</a></li>
                                        <li><a asp-area="" asp-controller="Home" asp-action="interior">Interior Design</a></li>
                                        <li class="active"><a asp-area="" asp-controller="Home" asp-action="urbandesign">Urban Design</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                </div>
            </div>
            
        </div>
    </section>
        <!-- Footer -->
        <footer class="main-footer dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-30">
                        <div class="item fotcont">
                            <div class="fothead">
                                <h6>Phone</h6>
                            </div>
                            <p>+1 203-123-0606</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="item fotcont">
                            <div class="fothead">
                                <h6>Email</h6>
                            </div>
                            <p>architecture@home.com</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="item fotcont">
                            <div class="fothead">
                                <h6>Our Address</h6>
                            </div>
                            <p>24 King St, Charleston, SC 29401 USA</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-left">
                                <p>© 2021 Home. All right reserved.</p>
                            </div>
                        </div>
                        <div class="col-md-4 abot">
                            <div class="social-icon"> 
                                <a href="index.html"><i class="ti-facebook"></i></a> 
                                <a href="index.html"><i class="ti-twitter"></i></a> 
                                <a href="index.html"><i class="ti-instagram"></i></a> 
                                <a href="index.html"><i class="ti-pinterest"></i></a> 
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p class="right"><a href="#">Terms &amp; Conditions</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>